:root {
    --button-color: #c82b35 !important;
    --main-color: #c82b35;
}

html  {
    min-height:100%;
}

body  {
    background-color:#fff;
    min-height:100%;
    color: #444;
    font-family: basefontRegular,Helvetica Neue,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.65;
}

a {
    text-decoration: none;
}

.logo
{
    display:flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.logo span {
    font-size: 15px;
    color: #808285;
}

.logo a {
    text-decoration: none;
}

.logo img
{
    height:40px;
}

.button {
    border: 2px solid var(--main-color);
    padding: 8px;
    font-size: 1.1em;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: var(--main-color);
    box-sizing: border-box;
    cursor: pointer;
}

.button a {
    color: var(--main-color);
}

.button.main {
    background-color: var(--main-color);
    color: #fff;
}

.button.main a {
    color: #fff;
}

select {
    padding: 7px;
}

h1,h2,h3 {
    margin: 10px 0px 10px 0px;
    line-height: 1.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

#content h2:before {
    content: '# ';
    color: var(--main-color);
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

.top nav {
    font-size: 1.1em;
}

footer {
    background-color: #f0f0f0;
    margin-top: 40px;
}

.code-box {
    box-sizing: border-box;
    flex: 1;
    padding: 20px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-size:1em;
    line-height: initial;
    border-radius: 2px;
}

.search {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.version {
    background-color: red;
    color: #fff;
    padding: 0px 6px 0px 6px;
    font-size: 7px;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
    line-height: 15px;
    margin-left: 5px;
    position: absolute;
}

.section-label {
    display: none;
}

.section-content {
    padding: 30px;
}

.jmenu {
    padding: 30px;
}

@media (max-width: 600px) {
    .logo img {
        height: 24px;
        margin-right: 5px;
    }

    .section-content {
        padding: 15px;
    }
    #content {
        padding-top: 60px;
    }
    .prettyprint {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        padding-bottom: 30px;
    }
    .jss_container {
        overflow: scroll;
        width: 100%;
    }
    .jmenu {
        padding: 20px;
    }
}

.jmenu-logo {
    height: 30px;
}

.logos img {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-group {
    padding-right: 6px;
    padding-bottom: 6px;
}

.icon-content
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 100%;
}

.icon-content a
{
    text-decoration:none;
    color:#4a5159;
}

.icon-content i
{
    background-color: #fefefe;
    color:#4a5159;
    font-size:24px;
    border:2px solid #4a5159;
    border-radius:40px;
    padding:11px;
}

.icon-content i:hover
{
    background-color:#eee;
}

.icon-content > div {
    padding: 5px;
}

.icon-content span {
    font-size:0.7em;
}

.breadcrumb {
    display: inline-flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.breadcrumb > li:after {
    content: '\00BB';
    padding: 8px;
    font-size: 1.2em;
}

.breadcrumb > li:last-child:after {
    opacity: 0;
}

.breadcrumb a:hover {
    color: #000;
    text-decoration: underline;
}

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 10px !important;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}