.base,
.shape {
  position: absolute;
  top: 0;
  left: 0;
}
.shape {
  background-color: var(--fill-action-success);
  width: 1440px;
  height: 679px;
  opacity: 0.1;
  mix-blend-mode: normal;
}
.base {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 29px;
  background-color: var(--color-white);
  box-shadow: 0-10px 35px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
}
.your-email-here {
  position: absolute;
  width: 45.76%;
  top: calc(50% - 17px);
  left: 7.38%;
  line-height: 28px;
  display: inline-block;
}
.shadow {
  width: 100%;
  right: 0;
  border-radius: var(--br-1981xl);
  background-color: var(--shadow-4);
}
.background,
.fill,
.shadow {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.fill {
  width: 100%;
  right: 0;
  border-radius: var(--br-1981xl);
  background-color: var(--fill-action-success);
}
.background {
  width: calc(100% - 0.2px);
  right: 0.2px;
}
.content,
.label {
  position: absolute;
  top: calc(50% - 11px);
  left: 0;
}
.content {
  width: 87.18%;
  right: 6.11%;
  left: 6.71%;
  height: 22px;
}
.buttonsprimarylarge {
  position: absolute;
  height: 79.31%;
  width: 33.01%;
  top: 10.34%;
  right: 1.3%;
  bottom: 10.34%;
  left: 65.68%;
  text-align: center;
  color: var(--color-white);
}
.field {
  position: absolute;
  height: 8.54%;
  width: 28.23%;
  top: 72.75%;
  right: 69.62%;
  bottom: 18.7%;
  left: 2.15%;
}
.arah-indonesia {
  margin: 0;
}
.better-customer-rela-container {
  position: absolute;
  top: calc(50% - 112px);
  left: 0;
  letter-spacing: 0.2px;
  line-height: 68px;
}
.with-all-of-container {
  position: absolute;
  width: 100%;
  top: calc(50% + 54px);
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 32px;
  font-family: var(--font-open-sans);
  color: var(--color-slategray);
  display: inline-block;
  height: 52px;
}
.text {
  position: absolute;
  top: 225px;
  left: 31px;
  width: 555px;
  height: 228px;
  overflow: hidden;
  font-size: 56px;
  color: var(--color-darkslategray);
  font-family: var(--font-lato);
}
.customer-development-icon {
  position: absolute;
  top: 194px;
  left: 683px;
  width: 558px;
  height: 358px;
  object-fit: cover;
}
.home,
.layanan,
.potofolio {
  position: absolute;
  top: 9px;
  left: 0;
  font-weight: 600;
}
.layanan,
.potofolio {
  left: 99px;
}
.potofolio {
  left: 217px;
}
.kontak-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 2px solid #1565d8;
  box-sizing: border-box;
  width: 131px;
  height: 40px;
}
.kontak,
.kontak-button {
  position: absolute;
  top: 9px;
  left: 37px;
}
.kontak-button {
  top: 0;
  left: 341px;
  width: 131px;
  height: 40px;
  color: #1576d8;
}
.menu-atas-container {
  position: absolute;
  top: 51px;
  left: 769px;
  width: 472px;
  height: 40px;
  text-align: center;
  color: var(--color-black);
}
.logo-ai-web-2 {
  position: absolute;
  top: 44px;
  left: 31px;
  width: 310px;
  height: 47px;
  object-fit: cover;
}
.hero,
.solusi-ai-container-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.hero {
  height: 679px;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
  font-family: var(--font-open-sans);
}
.solusi-ai-container-child {
  background-color: var(--color-white);
  height: 784px;
}
.what-we-do {
  position: absolute;
  width: 8.02%;
  top: calc(50% - 319.15px);
  left: 1%;
  font-size: 36px;
  letter-spacing: 0.2px;
  line-height: 48px;
  display: inline-block;
}
.base1 {
  position: absolute;
  height: 97.84%;
  width: 100%;
  top: 2.16%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
}
.icon-shape {
  position: absolute;
  height: 27.54%;
  width: 11.07%;
  top: 17.32%;
  right: 82.29%;
  bottom: 55.15%;
  left: 6.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.branding-identity {
  position: absolute;
  width: 20.22%;
  top: calc(50% - 71.9px);
  left: 21.87%;
  letter-spacing: 0.2px;
  line-height: 33px;
  display: inline-block;
}
.item-1 {
  position: absolute;
  height: 22.53%;
  width: 29.85%;
  top: 18.49%;
  right: 70.15%;
  bottom: 58.98%;
  left: 0;
}
.base2,
.path-icon {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.base2 {
  height: 99.08%;
  top: 0.99%;
  bottom: -0.07%;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
}
.path-icon {
  height: 100%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle {
  position: absolute;
  height: 80.05%;
  width: 80.1%;
  top: 10.1%;
  right: 9.95%;
  bottom: 9.85%;
  left: 9.95%;
  border-radius: 6px;
  background-color: var(--fill-action-success);
}
.icon-opened-file {
  position: absolute;
  height: 27.89%;
  width: 11.07%;
  top: 16.34%;
  right: 82.29%;
  bottom: 55.77%;
  left: 6.64%;
}
.microstock,
.we-produce-million {
  position: absolute;
  left: 21.87%;
  display: inline-block;
}
.microstock {
  width: 28.26%;
  top: calc(50% - 71px);
  letter-spacing: 0.2px;
  line-height: 33px;
}
.we-produce-million {
  width: 71.46%;
  top: calc(50% - 34px);
  font-size: var(--font-size-base);
  line-height: 28px;
  font-family: var(--font-open-sans);
  color: var(--color-slategray);
  height: 61px;
}
.base3,
.item-2 {
  position: absolute;
  height: 22.25%;
  width: 29.85%;
  top: 48.25%;
  right: 70.15%;
  bottom: 29.5%;
  left: 0;
}
.base3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
}
.icon-shape1 {
  position: absolute;
  height: 28.14%;
  width: 11.07%;
  top: 15.49%;
  right: 82.29%;
  bottom: 56.36%;
  left: 6.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.development,
.we-code-your-container {
  position: absolute;
  left: 21.87%;
  display: inline-block;
}
.development {
  width: 23.83%;
  top: calc(50% - 69.95px);
  letter-spacing: 0.2px;
  line-height: 33px;
}
.we-code-your-container {
  width: 71.46%;
  top: calc(50% - 32.95px);
  font-size: var(--font-size-base);
  line-height: 28px;
  font-family: var(--font-open-sans);
  color: var(--color-slategray);
  height: 61px;
}
.item-3 {
  position: absolute;
  height: 22.04%;
  width: 29.85%;
  top: 77.96%;
  right: 70.06%;
  bottom: 0;
  left: 0.08%;
}
.strategy {
  position: absolute;
  top: 35.5px;
  left: 197px;
  letter-spacing: 0.2px;
  line-height: 33px;
}
.stategy,
.stategy-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 160.5px;
  height: 101.5px;
}
.stategy {
  top: 233.5px;
  left: 386.5px;
  width: 308px;
  color: var(--color-black);
}
.tactics {
  position: absolute;
  top: 0;
  left: 195.5px;
  letter-spacing: 0.2px;
  line-height: 33px;
}
.tactic-child {
  position: absolute;
  top: 16px;
  left: 0;
  max-height: 100%;
  width: 162px;
}
.tactic {
  position: absolute;
  top: 574px;
  left: 388px;
  width: 285.5px;
  height: 33px;
  color: var(--color-black);
}
.organize-operations-icon {
  position: absolute;
  height: 48.33%;
  width: 42.68%;
  top: 42.14%;
  right: 0;
  bottom: 9.53%;
  left: 57.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.solusi {
  position: absolute;
  width: 84.44%;
  top: calc(50% - 319px);
  right: 12.3%;
  left: 3.26%;
  height: 638.3px;
}
.solusi-ai-container {
  position: absolute;
  top: 679px;
  left: 0;
  width: 1440px;
  height: 784px;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray);
}
.base-icon,
.base4 {
  position: absolute;
  top: 1463px;
  left: 0;
  width: 1440px;
  height: 1108px;
}
.base4 {
  top: 2571px;
  background-color: #f5f7f6;
  height: 882px;
}
.solusi-yang-kami-container {
  position: absolute;
  top: 2626px;
  left: 52px;
  font-size: var(--font-size-25xl);
}
.big-data-list-1-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 267px;
  height: 82px;
}
.big-data-list-1,
.news-social-media-container {
  position: absolute;
  top: 10px;
  left: 10px;
}
.big-data-list-1 {
  top: 74px;
  left: 7px;
  width: 267px;
  height: 82px;
}
.big-data-list-2,
.data-profil-daerah-container {
  position: absolute;
  top: 8px;
  left: 10px;
}
.big-data-list-2 {
  top: 172px;
  left: 7px;
  width: 267px;
  height: 82px;
}
.big-data-list-3,
.influencer-internal-partai-container {
  position: absolute;
  top: 11px;
  left: 10px;
}
.big-data-list-3 {
  top: 270px;
  left: 7px;
  width: 267px;
  height: 82px;
}
.big-data1,
.path {
  position: absolute;
  top: 0;
  left: 51px;
}
.path {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.path-icon1,
.path1 {
  position: relative;
  width: 30.4px;
  height: 33.6px;
}
.path1 {
  width: 40px;
  height: 40px;
}
.icon-protection {
  position: absolute;
  height: 100%;
  width: 20.1%;
  top: 0;
  right: 79.9%;
  bottom: 0;
  left: 0;
}
.big-data-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 199px;
  height: 40px;
  font-size: var(--font-size-14xl);
}
.big-data {
  position: absolute;
  top: 2878px;
  left: 38px;
  width: 274px;
  height: 352px;
}
.proses-deskripsi-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 180.5px;
  height: 271px;
}
.pemrosesan-data-dan-container {
  position: absolute;
  top: 103px;
  left: 12.7px;
  display: inline-block;
  width: 156px;
}
.proses-deskripsi {
  position: absolute;
  top: 74px;
  left: 7px;
  width: 180.5px;
  height: 271px;
}
.icon-protection1 {
  position: absolute;
  height: 93.02%;
  width: 21.28%;
  top: 6.98%;
  right: 78.72%;
  bottom: 0;
  left: 0;
}
.process1,
.process2 {
  position: absolute;
  top: 0;
  left: 0;
}
.process1 {
  left: 43px;
  width: 145px;
  height: 40px;
}
.icon-protection-parent {
  position: absolute;
  height: 12.46%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 87.54%;
  left: 0;
  text-align: left;
  font-size: var(--font-size-14xl);
}
.process {
  position: absolute;
  top: 2878px;
  left: 333px;
  width: 188px;
  height: 345px;
  text-align: center;
}
.media-analytic-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 163px;
  height: 53px;
}
.media-analytic,
.media-analytics {
  position: absolute;
  top: 17px;
  left: 24px;
}
.media-analytic {
  top: 75px;
  left: 2px;
  width: 163px;
  height: 53px;
}
.location-analytics {
  position: absolute;
  top: 18px;
  left: 18px;
}
.location-analytic {
  position: absolute;
  top: 188px;
  left: 0;
  width: 163px;
  height: 53px;
}
.influencer-system1 {
  position: absolute;
  top: 19px;
  left: 24px;
}
.influencer-system,
.list-insight-child {
  position: absolute;
  top: 297px;
  left: 0;
  width: 163px;
  height: 53px;
}
.list-insight-child {
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 281px;
  height: 410px;
}
.sentiment-analysis {
  position: absolute;
  top: 18px;
  left: 19px;
}
.issue-crisis,
.social-network-analysis {
  position: absolute;
  top: 59px;
  left: 19px;
}
.issue-crisis {
  top: 100px;
}
.analisis-kekuatan-partai,
.competitor-trend {
  position: absolute;
  top: 141px;
  left: 19px;
}
.analisis-kekuatan-partai {
  top: 182px;
}
.analisis-dapil,
.analisis-sebaran-pemilih {
  position: absolute;
  top: 223px;
  left: 19px;
}
.analisis-sebaran-pemilih {
  top: 264px;
}
.analisis-konten-reach,
.analisis-profil {
  position: absolute;
  top: 305px;
  left: 19px;
}
.analisis-profil {
  top: 346px;
}
.analisis-demografi-audience,
.list-insight {
  position: absolute;
  top: 383px;
  left: 19px;
}
.list-insight {
  top: 74px;
  left: 179px;
  width: 281px;
  height: 410px;
}
.icon-protection2 {
  position: absolute;
  height: 100%;
  width: 10.44%;
  top: 0;
  right: 89.56%;
  bottom: 0;
  left: 0;
}
.analytic-insight,
.icon-protection-group {
  position: absolute;
  top: 0;
  left: 56px;
}
.icon-protection-group {
  height: 8.26%;
  width: 83.26%;
  right: 16.3%;
  bottom: 91.74%;
  left: 0.43%;
  font-size: var(--font-size-14xl);
}
.analytic {
  position: absolute;
  top: 2878px;
  left: 549px;
  width: 460px;
  height: 484px;
}
.use-case-list-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 231px;
  height: 410px;
}
.dpd-dpc {
  position: absolute;
  top: 17px;
  left: 19px;
}
.positioning-partai {
  position: absolute;
  top: 58px;
  left: 21px;
}
.strategi-komunikasi {
  position: absolute;
  top: 99px;
  left: 19px;
}
.manajemen-krisis {
  position: absolute;
  top: 140px;
  left: 21px;
}
.strategi-kampanye {
  position: absolute;
  top: 181px;
  left: 20px;
}
.pemetaan-kompetitor {
  position: absolute;
  top: 222px;
  left: 18px;
}
.alokasi-sumberdaya {
  position: absolute;
  top: 263px;
  left: 19px;
}
.pemilihan-influencer {
  position: absolute;
  top: 304px;
  left: 17px;
}
.pembuatan-konten {
  position: absolute;
  top: 346px;
  left: 18px;
  display: inline-block;
  width: 130px;
  height: 36px;
}
.use-case-list {
  position: absolute;
  top: 74px;
  left: 3px;
  width: 231px;
  height: 410px;
}
.icon-protection3 {
  position: absolute;
  height: 93.02%;
  width: 19.42%;
  top: 6.98%;
  right: 80.58%;
  bottom: 0;
  left: 0;
}
.icon-protection-container {
  position: absolute;
  height: 8.88%;
  width: 88.03%;
  top: 0;
  right: 11.97%;
  bottom: 91.12%;
  left: 0;
  font-size: var(--font-size-14xl);
}
.base5,
.use-case {
  position: absolute;
  top: 2878px;
  left: 1034px;
  width: 234px;
  height: 484px;
}
.base5 {
  top: 0;
  left: 0;
  background-color: #fff5e1;
  width: 1440px;
  height: 689px;
}
.platform-untuk-melakukan {
  position: absolute;
  top: 119px;
  left: 50px;
}
.cyber-army-platform {
  position: absolute;
  top: 60px;
  left: 46px;
  font-size: var(--font-size-14xl);
}
.icon,
.identifikasi-dan-counter-container {
  position: absolute;
  top: 0;
  left: 37px;
}
.icon {
  height: 66.67%;
  width: 8.7%;
  right: 91.3%;
  bottom: 33.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.identifikasi-dan-counter-seran-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 276px;
  height: 36px;
}
.icon1,
.manajemen-akun {
  position: absolute;
  top: 3px;
  left: 37px;
}
.icon1 {
  height: 100%;
  width: 15.69%;
  top: 0;
  right: 84.31%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon2,
.manajemen-akun-parent {
  position: absolute;
  top: 64px;
  left: 0;
  width: 153px;
  height: 24px;
}
.icon2 {
  height: 66.67%;
  width: 7.95%;
  top: 0;
  right: 92.05%;
  bottom: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon3,
.membuat-dan-mendistribusikan-k-parent {
  position: absolute;
  top: 119px;
  left: 0;
  width: 302px;
  height: 36px;
}
.icon3 {
  height: 66.67%;
  width: 8.19%;
  top: 0;
  right: 91.81%;
  bottom: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon4,
.sistem-tiketing-isu-untuk-pema-parent {
  position: absolute;
  top: 197px;
  left: 0;
  width: 293px;
  height: 36px;
}
.icon4 {
  height: 61.54%;
  width: 7.64%;
  top: 0;
  right: 92.36%;
  bottom: 38.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cyber-armi-list,
.penyediaan-template-dan-standa-parent {
  position: absolute;
  top: 264px;
  left: 0;
  width: 314px;
  height: 39px;
}
.cyber-armi-list {
  top: 193px;
  left: 850px;
  height: 303px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.a1-1-icon {
  position: absolute;
  top: 192px;
  left: 36px;
  width: 731px;
  height: 432px;
  object-fit: cover;
}
.cyber-army-platform-container {
  position: absolute;
  top: 4335px;
  left: 0;
  width: 1440px;
  height: 689px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.porto-container-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1efef;
  width: 1440px;
  height: 256px;
}
.logo-partai64-1 {
  position: absolute;
  top: 7px;
  left: 0;
  width: 277.7px;
  height: 63.3px;
  object-fit: cover;
}
.logo-partai1-1,
.logo-partai3-1,
.logo-partai5-1 {
  position: absolute;
  top: 7px;
  left: 277.7px;
  width: 287px;
  height: 73.5px;
  object-fit: cover;
}
.logo-partai1-1,
.logo-partai3-1 {
  top: 0;
  left: 586px;
  width: 320.4px;
  height: 86.8px;
}
.logo-partai1-1 {
  top: 13.3px;
  left: 916.6px;
  width: 255.4px;
  height: 63.3px;
}
.logo-klien {
  position: absolute;
  top: 108px;
  left: 46px;
  width: 1172px;
  height: 86.8px;
}
.porto-container,
.portofolio-electoral-vote {
  position: absolute;
  top: 41px;
  left: 46px;
}
.porto-container {
  top: 5024px;
  left: 0;
  width: 1440px;
  height: 256px;
  font-size: var(--font-size-16xl);
}
.command-center-container-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff7f7;
  width: 1440px;
  height: 503px;
}
.cm-1-icon {
  position: absolute;
  top: 54px;
  left: 738px;
  width: 501px;
  height: 321px;
  object-fit: cover;
}
.command-center-system {
  position: absolute;
  top: 72px;
  left: 46px;
}
.solusi-cerdas-dan-container {
  position: absolute;
  top: 184px;
  left: 46px;
  font-size: var(--font-size-xl);
}
.command-center-container {
  position: absolute;
  top: 5280px;
  left: 0;
  width: 1440px;
  height: 503px;
  font-size: var(--font-size-16xl);
}
.footer-container-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 503px;
}
.logo-child {
  position: absolute;
  top: 0;
  left: 46px;
  width: 71px;
  height: 71px;
  object-fit: cover;
}
.arah-indonesia1 {
  position: absolute;
  top: 75px;
  left: 2px;
}
.political-consultant {
  position: absolute;
  top: 105px;
  left: 0;
  font-size: var(--font-size-xl);
  color: #8d8989;
}
.logo {
  position: absolute;
  top: 124px;
  left: 60px;
  width: 172px;
  height: 129px;
  font-size: 25px;
}
.command-center,
.wall-room {
  position: absolute;
  top: 44px;
  left: 0;
}
.wall-room {
  top: 96px;
  left: 1px;
}
.app-pilkada,
.product {
  position: absolute;
  top: 148px;
  left: 0;
}
.product {
  top: 104px;
  left: 385px;
  width: 132px;
  height: 220px;
}
.career,
.company {
  position: absolute;
  top: 200px;
  left: 1px;
}
.company {
  top: 104px;
  left: 854px;
  width: 104px;
  height: 220px;
}
.services {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
}
.link,
.service {
  position: absolute;
  top: 104px;
  left: 624px;
  width: 99px;
  height: 240px;
}
.link {
  left: 1103px;
  width: 96px;
  height: 220px;
}
.arah-indonesia2,
.copyright {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.arah-indonesia2 {
  left: 106px;
}
.copyright-2019 {
  position: absolute;
  top: calc(50% - 11px);
  left: 31.82%;
  font-weight: 600;
  color: var(--color-slategray);
}
.copyright-arah-indonesia-2024 {
  position: absolute;
  top: 401px;
  left: 625px;
  width: 264px;
  height: 22px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
}
.base-icon1,
.footer-container {
  position: absolute;
  left: 0;
  width: 1440px;
}
.footer-container {
  top: 5783px;
  height: 503px;
  font-size: var(--font-size-mid);
}
.base-icon1 {
  top: 0;
  height: 1108px;
}
.solusi-komprehensif-yang {
  margin-block-start: 0;
  margin-block-end: 12px;
}
.solusi-komprehensif-yang-container {
  position: absolute;
  top: 78px;
  left: 46px;
  font-size: var(--font-size-25xl);
  letter-spacing: 0.2px;
  line-height: 33px;
}
.x-suara-container {
  position: absolute;
  top: 62.7px;
  left: 16.3px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 65.3px;
  height: 118.1px;
}
.goal-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  width: 93.1px;
  height: 46.1px;
}
.goals {
  position: absolute;
  top: 8.3px;
  left: 13.4px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 70.1px;
  height: 29.5px;
}
.goal,
.goal-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 93.1px;
  height: 46.1px;
  font-size: var(--font-size-lg);
}
.goal-list {
  top: 280px;
  left: 47px;
  height: 180.8px;
  font-size: var(--font-size-xl);
}
.media-analytic-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  width: 252.3px;
  height: 46.1px;
}
.media-analytics1 {
  position: absolute;
  top: 8.3px;
  left: 10.7px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 175px;
  height: 29.5px;
}
.media-analytic1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 252.3px;
  height: 46.1px;
  font-size: var(--font-size-lg);
}
.analisis-popularitas-di {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 205px;
  height: 60px;
}
.item-icon,
.media-list-1 {
  position: absolute;
  top: 0;
  left: 47px;
  width: 205px;
  height: 60px;
}
.item-icon {
  top: 7px;
  left: 0;
  width: 37px;
  height: 37px;
}
.media-list-1-parent {
  position: absolute;
  top: 62px;
  left: 0.3px;
  width: 252px;
  height: 60px;
}
.analisis-isu-partai-container {
  position: absolute;
  top: 0;
  left: 47px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 198.7px;
  height: 59px;
}
.item-icon1 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 37px;
  height: 37px;
}
.analisis-isu-partai-dan-caleg-parent {
  position: absolute;
  top: 168px;
  left: 0.3px;
  width: 245.7px;
  height: 59px;
}
.deteksi-sentimen-partai-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 176px;
  height: 59px;
}
.media-list-3,
.media-list-3-parent {
  position: absolute;
  top: 0;
  left: 47px;
  width: 176px;
  height: 59px;
}
.media-list-3-parent {
  top: 286px;
  left: 0.3px;
  width: 223px;
}
.analisis-kompetitor,
.media-list-4 {
  position: absolute;
  width: 159.8px;
  height: 29.5px;
}
.analisis-kompetitor {
  top: 0;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
}
.media-list-4 {
  top: 4px;
  left: 46px;
}
.item-icon3,
.media-list-4-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
}
.media-list-4-parent {
  top: 410px;
  left: 0.3px;
  width: 205.8px;
}
.analisis-kekuatan-jaringan-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 191px;
  height: 59px;
}
.item-icon4,
.media-list-5 {
  position: absolute;
  top: 0;
  left: 46px;
  width: 191px;
  height: 59px;
}
.item-icon4 {
  top: 5px;
  left: 0;
  width: 37px;
  height: 37px;
}
.media-anaytic,
.media-list-5-parent {
  position: absolute;
  top: 523px;
  left: 0.3px;
  width: 237px;
  height: 59px;
}
.media-anaytic {
  top: 280px;
  left: 149.7px;
  width: 252.3px;
  height: 582px;
}
.location-analytic-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  width: 273.2px;
  height: 46.1px;
}
.location-analytics1 {
  position: absolute;
  top: 8.3px;
  left: 12.4px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  white-space: pre-wrap;
  width: 213.1px;
  height: 29.5px;
}
.location-analytic2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 273.2px;
  height: 46.1px;
  font-size: var(--font-size-lg);
}
.analisis-kekuatan-partai-container {
  position: absolute;
  top: 0;
  left: 49px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 206px;
  height: 59px;
}
.analisis-kekuatan-partai-dan-c-parent {
  position: absolute;
  top: 72px;
  left: 1.2px;
  width: 255px;
  height: 59px;
}
.analisis-kekuatan-partai-container1 {
  position: absolute;
  top: 0;
  left: 53px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 188.7px;
  height: 59px;
}
.analisis-kekuatan-partai-x-pad-parent {
  position: absolute;
  top: 177px;
  left: 1.2px;
  width: 241.7px;
  height: 59px;
}
.analisis-dapil-pemilu-container {
  position: absolute;
  top: 0;
  left: 49px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 223px;
  height: 59px;
}
.analisis-dapil-pemilu-2024-ju-parent {
  position: absolute;
  top: 296px;
  left: 1.2px;
  width: 272px;
  height: 59px;
}
.analisis-sebaran-kekuatan-container {
  position: absolute;
  top: 0;
  left: 49px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 222px;
  height: 59px;
}
.analisis-sebaran-kekuatan-pada-parent {
  position: absolute;
  top: 412px;
  left: 1.2px;
  width: 271px;
  height: 59px;
}
.location-analytic1 {
  position: absolute;
  top: 280px;
  left: 436.8px;
  width: 273.2px;
  height: 471px;
}
.influencer-system-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  width: 233px;
  height: 46.1px;
}
.inluencer-system {
  position: absolute;
  top: 8.3px;
  left: 18.2px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 194.9px;
  height: 29.5px;
}
.influencer-system2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 233px;
  height: 46.1px;
  font-size: var(--font-size-lg);
}
.pencarian-influencer-eksterna-container {
  position: absolute;
  top: 0;
  left: 51px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 178px;
  height: 89px;
}
.item-icon9 {
  position: absolute;
  top: 9px;
  left: 0;
  width: 37px;
  height: 37px;
}
.pencarian-influencer-eksterna-parent {
  position: absolute;
  top: 69px;
  left: 4px;
  width: 229px;
  height: 89px;
}
.pembuatan-konten-kampanye-container {
  position: absolute;
  top: 0;
  left: 57px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 164px;
  height: 59px;
}
.pembuatan-konten-kampanye-parent {
  position: absolute;
  top: 176px;
  left: 4px;
  width: 221px;
  height: 59px;
}
.monitoring-analisis-container {
  position: absolute;
  top: 0;
  left: 52px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 167px;
  height: 60px;
}
.item-icon11 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 37px;
  height: 37px;
}
.monitoring-analisis-manajem-parent {
  position: absolute;
  top: 298px;
  left: 4px;
  width: 219px;
  height: 60px;
}
.pelaporan-kampanye-influencer-container {
  position: absolute;
  top: 0;
  left: 51px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 158px;
  height: 59px;
}
.pelaporan-kampanye-influencer-parent {
  position: absolute;
  top: 412px;
  left: 4px;
  width: 209px;
  height: 59px;
}
.influencer-analytic {
  position: absolute;
  top: 280px;
  left: 742px;
  width: 233px;
  height: 471px;
}
.cyber-army-child,
.cyber-army-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  width: 252px;
  height: 46px;
}
.cyber-army-item {
  width: 241.8px;
}
.cyber-army-platform2 {
  position: absolute;
  top: 8.3px;
  left: 14.9px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 229.1px;
  height: 29.5px;
}
.cyber-army {
  position: absolute;
  top: 0;
  left: 0;
  width: 252px;
  height: 46px;
  font-size: var(--font-size-lg);
}
.counter-konten-negatif {
  position: absolute;
  top: 0;
  left: 53px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 154px;
  height: 60px;
}
.item-icon13 {
  position: absolute;
  top: 8px;
  left: 0;
  width: 37px;
  height: 37px;
}
.counter-konten-negatif-parent {
  position: absolute;
  top: 69px;
  left: 8px;
  width: 207px;
  height: 60px;
}
.boosting-konten-positif {
  position: absolute;
  top: 0;
  left: 52px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 156px;
  height: 63px;
}
.boosting-konten-positif-parent {
  position: absolute;
  top: 177px;
  left: 8px;
  width: 208px;
  height: 63px;
}
.dashboard-pemantauan-container {
  position: absolute;
  top: 0;
  left: 53px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 200px;
  height: 59px;
}
.dashboard-pemantauan-kegiata-parent {
  position: absolute;
  top: 292px;
  left: 8px;
  width: 253px;
  height: 59px;
}
.sistem-pembuatan-dan-container {
  position: absolute;
  top: 0;
  left: 52px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 177px;
  height: 59px;
}
.kpi-dan-pelaporan-container,
.sistem-pembuatan-dan-manajemen-parent {
  position: absolute;
  top: 413px;
  left: 8px;
  width: 229px;
  height: 59px;
}
.kpi-dan-pelaporan-container {
  top: 0;
  left: 53px;
  letter-spacing: 0.2px;
  line-height: 32px;
  display: inline-block;
  width: 160px;
}
.kpi-dan-pelaporan-kegiatan-parent {
  position: absolute;
  top: 528px;
  left: 8px;
  width: 213px;
  height: 59px;
}
.cyber-army-platform1 {
  position: absolute;
  top: 280px;
  left: 994px;
  width: 261px;
  height: 587px;
}
.base6,
.item-icon18 {
  position: absolute;
  top: 0;
  left: 0;
}
.base6 {
  background-color: #fefefe;
  width: 1440px;
  height: 882px;
}
.item-icon18 {
  width: 45px;
  height: 45px;
}
.influencer-analytic1 {
  position: absolute;
  top: 7px;
  left: 57px;
}
.a4-1-icon,
.item-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 346px;
  height: 45px;
}
.a4-1-icon {
  top: 358px;
  left: 30px;
  width: 344px;
  height: 198px;
  object-fit: cover;
}
.pemilihan-influencer-partai {
  position: absolute;
  top: 3px;
  left: 35px;
}
.manajemen-kampanye-influencer {
  position: absolute;
  top: 48px;
  left: 35px;
}
.pembuatan-konten-melalui-container {
  position: absolute;
  top: 93px;
  left: 35px;
}
.pelaporan-kampanye-influencer {
  position: absolute;
  top: 152px;
  left: 35px;
}
.icon5,
.icon6,
.icon7,
.icon8 {
  position: absolute;
  height: 13.87%;
  width: 9.2%;
  top: 0;
  right: 90.8%;
  bottom: 86.13%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon6,
.icon7,
.icon8 {
  top: 27.75%;
  bottom: 58.38%;
}
.icon7,
.icon8 {
  top: 53.76%;
  bottom: 32.37%;
}
.icon8 {
  top: 86.13%;
  bottom: 0;
}
.influencer-list {
  position: absolute;
  top: 70px;
  left: 52px;
  width: 261px;
  height: 173px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.influencer1 {
  position: absolute;
  top: 83px;
  left: 782px;
  width: 374px;
  height: 556px;
}
.media-analytic2 {
  position: absolute;
  top: 4px;
  left: 52px;
}
.a3-1-icon,
.media-ana1 {
  position: absolute;
  top: 490px;
  left: 0;
  width: 268px;
  height: 45px;
}
.a3-1-icon {
  top: 0;
  left: 4px;
  width: 339px;
  height: 216px;
  object-fit: cover;
}
.pemantauan-isu-dan-container {
  position: absolute;
  top: 0;
  left: 36px;
}
.analisis-tren-dan-container {
  position: absolute;
  top: 73px;
  left: 36px;
}
.memantau-aktivitas-dpd {
  position: absolute;
  top: 153px;
  left: 37px;
}
.manajemen-krisis-dan {
  position: absolute;
  top: 209px;
  left: 36px;
}
.icon10,
.icon11,
.icon12,
.icon9 {
  position: absolute;
  height: 10.43%;
  width: 8.92%;
  top: 89.57%;
  right: 91.08%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon10,
.icon11,
.icon12 {
  top: 65.22%;
  bottom: 24.35%;
}
.icon11,
.icon12 {
  top: 31.74%;
  bottom: 57.83%;
}
.icon12 {
  top: 0;
  bottom: 89.57%;
}
.media-ana-list {
  position: absolute;
  top: 239px;
  left: 0;
  width: 269px;
  height: 230px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.media-ana {
  position: absolute;
  top: 149px;
  left: 410px;
  width: 343px;
  height: 535px;
}
.location-analytic3 {
  position: absolute;
  top: 7px;
  left: 53px;
}
.a2-1-icon,
.loc-ana {
  position: absolute;
  top: 0;
  left: 0;
  width: 315px;
  height: 45px;
}
.a2-1-icon {
  top: 353px;
  width: 349px;
  height: 202px;
  object-fit: cover;
}
.alokasi-sumberdaya1,
.analisis-demografi-dan-container {
  position: absolute;
  top: 136px;
  left: 36px;
}
.alokasi-sumberdaya1 {
  top: 199px;
}
.icon13,
.icon14,
.icon15,
.icon16 {
  position: absolute;
  height: 10.76%;
  width: 11.82%;
  top: 0;
  right: 88.18%;
  bottom: 89.24%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon14,
.icon15,
.icon16 {
  top: 32.74%;
  bottom: 56.5%;
}
.icon15,
.icon16 {
  top: 60.99%;
  bottom: 28.25%;
}
.icon16 {
  top: 89.24%;
  bottom: 0;
}
.location-ana-list {
  position: absolute;
  top: 66px;
  left: 0;
  width: 203px;
  height: 223px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.loca-media-inf,
.location {
  position: absolute;
  top: 83px;
  left: 35px;
  width: 349px;
  height: 555px;
}
.loca-media-inf {
  top: 3453px;
  left: -5px;
  width: 1440px;
  height: 882px;
  text-align: center;
  font-size: var(--font-size-7xl);
}
.web {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 6351px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-lato);
}
