<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" />
    <springProperty scope="context" name="ROOT_LOG_LEVEL" source="logging.root.log_level" />
    <springProperty scope="context" name="APP_LOG_ROOT" source="logging.app.root_path" />
    <springProperty scope="context" name="APP_LOG_TYPE" source="logging.app.log_type" />

    <appender name="Appender_Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%black(%d{ISO8601}) --- [%blue(%thread)]%m%n</pattern>
        </layout>
    </appender>
    <appender name="Appender_File"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${APP_NAME}/default.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${APP_NAME}/default.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %p %C{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ErrorAppender_Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%black(%d{ISO8601}) --- [%blue(%thread)]%m%n</pattern>
        </layout>
    </appender>
    <appender name="ErrorAppender_File"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${APP_NAME}/default-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${APP_NAME}/default-error.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %p %C{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="AppErrorAppender_Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%black(%d{ISO8601}) --- [%blue(%thread)]%m%n</pattern>
        </layout>
    </appender>
    <appender name="AppErrorAppender_File"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${APP_NAME}/common-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${APP_NAME}/common-error.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d --- [%thread]%m%n</pattern>
        </encoder>
    </appender>

    <appender name="API_CONTROLLER_Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %black(%d{ISO8601}) --- [%blue(%thread)]%m%n
            </pattern>
        </layout>
    </appender>
    <appender name="API_CONTROLLER_File"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${APP_NAME}/controller.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${APP_NAME}/controller.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d --- [%thread]%m%n</pattern>
        </encoder>
    </appender>

    <appender name="APP_BIZ_SERVICE_Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </pattern>
        </layout>
    </appender>
    <appender name="APP_BIZ_SERVICE_File"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${APP_NAME}/biz-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${APP_NAME}/biz-service.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d --- [%thread]%m%n</pattern>
        </encoder>
    </appender>

    <logger name="API_CONTROLLER" additivity="false">
        <level value="INFO" />
        <appender-ref ref="API_CONTROLLER_${APP_LOG_TYPE}" />
        <appender-ref ref="AppErrorAppender_${APP_LOG_TYPE}" />
    </logger>

    <logger name="APP_BIZ_SERVICE" additivity="false">
        <level value="INFO" />
        <appender-ref ref="APP_BIZ_SERVICE_${APP_LOG_TYPE}" />
        <appender-ref ref="AppErrorAppender_${APP_LOG_TYPE}" />
    </logger>

    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="Appender_${APP_LOG_TYPE}" />
        <appender-ref ref="ErrorAppender_${APP_LOG_TYPE}" />
    </root>

</configuration>