<!DOCTYPE html>
<html>
    <head>
        <title>PAGE_TITLE</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Material+Icons"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap">
        <link rel="stylesheet" href="../../../../assets/css/tables/a11y-light.css"/>
        <link rel="stylesheet" href="../../../../assets/css/tables/jsuites.min.css"/>
        <link rel="stylesheet" href="../../../../assets/css/tables/style.min.css"/>
        <link rel="stylesheet" href="../../../../assets/css/tables/menu.min.css"/>
        <link rel="stylesheet" href="../../../../assets/css/tables/style.css"/>
        <link rel="stylesheet" href="../../../../assets/css/tables/jspreadsheet.min.css"/>

        <script type="text/javascript" src="../../../../assets/js/tables/index.min.js"></script>
        <script type="text/javascript" src="../../../../assets/js/tables/highlight.min.js"></script>
        <script type="text/javascript" src="../../../../assets/js/tables/highlightjs-line-numbers.min.js"></script>
        <script type="text/javascript" src="../../../../assets/js/tables/lemonade.min.js"></script>
        <script type="text/javascript" src="../../../../assets/js/tables/jsuites.min.js"></script>
        <script type="text/javascript" src="../../../../assets/js/tables/menu.min.js"></script>
        <script type="text/javascript" src="../../../../assets/js/tables/themes.js"></script>
        <script type="text/javascript" src="../../../../assets/js/tables/app.js"></script>
    </head>
    <body>
        <style type="text/css">
            .jexcel>tbody>tr>td.readonly{color:rgba(0,0,0,.8)}
        </style>
        <section>
            <div class='row container'>
                <div class='column f3'>
                    <div id='content'>
                        PAGE_CONTENT
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', app);
    </script>
</html>
