<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <title>PAGE_TITLE</title>
        <link rel="icon" href="assets/images/favicon.png" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"/>
        <link rel="stylesheet" type="text/css" href="../../../../webapp/assets/plugins/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../webapp/assets/css/waves.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../webapp/assets/css/animate.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../webapp/assets/css/bootstrap-tagsinput.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../webapp/assets/css/theme.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../webapp/assets/css/time-picker.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../webapp/assets/plugins/bootstrap-select/css/bootstrap-select.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../webapp/assets/css/styles.min.css"/>

        <link rel="stylesheet" type="text/css" href="../../../../assets/css/tables/a11y-light.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../assets/css/tables/jspreadsheet.min.css"/>

        <link rel="stylesheet" type="text/css" href="../../../../assets/report/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../assets/report/css/skin_color.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../assets/report/css/custom.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../assets/report/css/vendor/jqueryscripttop.css"/>

        <script type="text/javascript" src="../../../../webapp/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="../../../../webapp/assets/plugins/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="../../../../webapp/assets/js/jquery.slimscroll.js"></script>
        <script type="text/javascript" src="../../../../webapp/assets/js/waves.js"></script>
        <script type="text/javascript" src="../../../../webapp/assets/js/admin.js"></script>

        <script type="text/javascript" src="../../../../assets/js/tables/jsuites.min.js"></script>
        <script type="text/javascript" src="../../../../assets/js/tables/index.min.js"></script>

        <script type="text/javascript" src="../../../../webapp/assets/js/ezapprtclient.js"></script>
    </head>
    <body class="theme-blue poppins">
        <style type="text/css">
            .jexcel>tbody>tr>td.readonly{color:rgba(0,0,0,.8)}
        </style>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand" href="home.htm"><div>PAGE_TITLE</div></a>
                </div>
            </div>
        </nav>
        <section>
            <aside id="leftsidebar" class="sidebar">
                <div class="menu">
                    <ul id="left-menu-container" class="list">
                        <li class="active" style="border-bottom:1px solid #eee">
                            <a href="#">
                                <i class="material-icons">flash_on</i>
                                <span>Realtime Report</span>
                            </a>
                        </li>
                        <li style="border-bottom:1px solid #eee">
                            <a href="#">
                                <i class="material-icons">show_chart</i>
                                <span>Progressive Report</span>
                            </a>
                        </li>
                        <li style="border-bottom:1px solid #eee">
                            <a href="#">
                                <i class="material-icons">location_on</i>
                                <span>Area Based Report</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="legal">
                    <div class="copyright">
                        Copyright 2023 Arah Indonesia
                    </div>
                    <div class="version">
                        Realtime Reporting System (ver 1.2.204)
                    </div>
                    <div class="version">
                        Powered by EzService ID
                    </div>
                </div>
            </aside>
        </section>

        PAGE_CONTENT
    </body>
</html>